{% extends 'layout/main.html' %}

{% block 'title' %} Contactos {% endblock %}

{% block 'name' %}CONTACTOS{% endblock %}
{% block 'action' %}
<a href="{% url 'contact_create' %}" class="h-10 w-10 text-center flex items-center justify-center bg-indigo-500 hover:bg-indigo-400 text-white rounded" title="Agregar un nuevo contacto">
  <i class="fa-solid fa-plus"></i>
</a>
{% endblock %}
{% block 'description' %}Aquí se muestra la lista de tus contactos{% endblock %}
{% block 'content' %}
  {% include 'views/contact/partials/search.html' %}
  <ul class="flex flex-col">
    {% for contact in contacts %}
    <li href="#" class="flex gap-5 hover:bg-indigo-50 justify-between rounded items-center p-5 cursor-pointer">
      <span class="flex items-center gap-3">
        <i class="fa-regular fa-user text-xl"></i>
        <span class="flex flex-col">
          {{ contact.mobile }}
          <small class="opacity-70 flex items-center gap-1">
            {% if contact.is_favorite %}
            <i class="fa-solid fa-star text-yellow-500"></i>
            {% endif %}
            {{ contact }}
          </small>
        </span>
      </span>
      <span class="flex gap-3 flex-col sm:flex-row">
        <a class="hover:text-indigo-500" href="{% url 'contact_detail' id=contact.id%}"><i class="fa-solid fa-eye"></i></a>
        <a class="hover:text-indigo-500" href="{% url 'contact_update' id=contact.id%}"><i class="fa-solid fa-pen"></i></a>
        <a class="hover:text-red-500" href="{% url 'contact_delete' id=contact.id%}"><i class="fa-solid fa-trash"></i></a>
      </span>
    </li>
    {% endfor %}
  </ul>
{% endblock  %}