{% extends 'layout/main.html' %}

{% block 'title' %} Tareas {% endblock %}

{% block 'name' %}TAREAS{% endblock %}
{% block 'action' %}
<a href="{% url 'todo_create' %}" class="h-10 w-10 text-center flex items-center justify-center bg-indigo-500 hover:bg-indigo-400 text-white rounded" title="Agregar una nueva tarea">
  <i class="fa-solid fa-plus"></i>
</a>
{% endblock %}
{% block 'description' %}Aquí se muestra la lista de tus tareas{% endblock %}
{% block 'content' %}
  {% include 'views/todo/partials/search.html' %}
  <ul class="flex flex-col">
    {% for todo in todos %}
    <li href="#" class="flex gap-5 hover:bg-indigo-50 justify-between rounded items-center p-5 cursor-pointer">
      <span class="flex items-center gap-3">
        <i class="fa-regular fa-circle-check text-xl {% if todo.finished %} text-green-500 {% endif %}"></i>
        <span class="flex flex-col">
          <span class="{% if todo.finished %} line-through opacity-70 {% endif %}">{{ todo.title }}</span>
          <small class="opacity-70">
            Fecha estimada: {{ todo.estimated_end }}
          </small>
        </span>
      </span>
      <span class="flex gap-3 flex-col sm:flex-row">
        <a class="hover:text-indigo-500" href="{% url 'todo_detail' id=todo.id%}"><i class="fa-solid fa-eye"></i></a>
        <a class="hover:text-indigo-500" href="{% url 'todo_update' id=todo.id%}"><i class="fa-solid fa-pen"></i></a>
        <a class="hover:text-red-500" href="{% url 'todo_delete' id=todo.id%}"><i class="fa-solid fa-trash"></i></a>
      </span>
    </li>
    {% endfor %}
  </ul>
{% endblock  %}